.ex1 span{
    display:inline-block;
}
.ex2 span{
    display:block; /*줄바꿈 설정*/
}

@media (max-width:1000px){
    .ex2 span{
    display:inline;
    }
}
p{
    font-size:60px;

}

.ko{
word-break:keep-all;
}

.en{
word-break:break-all;
}
