ul{
    li{
        &:hover{
            background: white;
            cursor: pointer;
        }
        &:last-child{
            border: 2px solid black;
        }
    }
}

ol{
    li{
        &:nth-child(1){
            color: red;
        }
        &:nth-child(1){
            color: green;
        }
        &:nth-child(1){
            color: blue;
        }
    }
}