.one{
    color: green;
    .two{
        color: blue;
        .three{
            color: pink; 

            @at-root .four{
                color: red;
            }
            // 밖으로 빼내고 싶을 때 @at-root
        }
    }
}