/* layout */
.container{
    display: flex;
}

.container .section-text{
    flex-grow: 1;
}

@media (min-width: 1200px){
    .container .container2{
        flex-basis: 486px;
        flex-shrink: 0;
    }
}
@media (max-width: 1199px){
    .container{
        flex-direction: column;
        /* 변동값 60 40 */
        gap: 60px;
    }
}

.container2{
    display: flex;
    flex-direction: column;
    /* 변동값 20 20 14 */
    gap: 20px;
}

@media (min-width: 769px) and (max-width: 1200px){
    .container2 {
        flex-direction: row;
    }
    .container2 .link1,
    .container2 .link2{
        flex-grow: 1;
        flex-basis: 0;
    }
}
@media (max-width: 768px){
    .container2 {
        /* 변동값 20 20 14 */
        gap: 14px;
    }
}

/* style */
.container {
    width: 1200px;
    max-width: calc(100% - 60px);
    min-width: 400px;
}

.section-text h1 {
    color: #121314;
    font-weight: normal;
    /* 변동 70 70 36 */
    font-size: 70px;
}

.section-text p {
    color: #47494d;
    /* 변동 20 18 14 */
    font-size: 20px;
    /* 변동 20 20 14 */
    margin-top: 20px;
}

.link1,
.link2 {
    border-radius: 20px;
    color: white;
    aspect-ratio: 486 / 280;
    /* 변동값
    40 30 30 40
    30 20 20 30
    30 20 20 30 */
    padding: 40px 30px 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.link1 {
    background: url(../230315/img/Rectangle\ 2.png) no-repeat 0 0 / cover;
}

/* contain은 자르지 않고 여백을 넣음 cover은 자르고 꽉 차게 */

.link2 {
    background: url(../230315/img/Rectangle\ 3.png) no-repeat 0 0 / cover;
}

.link1 strong,
.link2 strong {
    /* 변동 30 24 20 */
    font-size: 30px;
}

.link1 span,
.link2 span {
    align-self: flex-end;
}

/* 가상요소 */
.go-after::after {
    content: "";
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    border: 1px solid #fff;
    border-width: 2px 2px 0 0;
    transform: rotate(45deg);
    margin-left: 0.2em;
    border-radius: 0.1em;
}

/* 배경 */
.go-bg {
    padding-right: 1.2em;
    background: url(web-images/arrow.svg) no-repeat 100% center / 1.2em;

}

@media(max-width: 1200px) {
    .section-text p {
        font-size: 18px;
    }

    .link1,
    .link2 {
        padding: 30px 20px 20px 30px;
    }

    .link1 strong,
    .link2 strong {
        font-size: 24px;
    }
}

@media(max-width: 768px) {
    .section-text h1 {
        font-size: 36px;
    }
    .section-text p {
        /* 변동 20 18 14 */
        font-size: 14px;
        /* 변동 20 20 14 */
        margin-top: 14px;
    }
    .link1 strong,
    .link2 strong {
        font-size: 20px;
    }
}

@media (min-height: 820px){
    body {
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }
}

@media (max-height: 819px){
    .container{
        margin: 40px auto;
    }
}