.ally-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

h1,h2,h3,h4,h5,h6,a,span,ul,li,button{
    margin: 0;
    padding: 0;
}

a{
    color: initial;
    text-decoration: none;
}

button{
    border: none;
    background: none;
}

ul, li{
    list-style: none;
}

.wrapper{
    width: 520px;
    margin:auto;
}

header{
    display: flex;
    justify-content: space-between;   
    border-bottom: 1px solid #C4C4C4;
}

h1{
    font-size: 16px;
    margin: 20px 0px 18px 188px;
}

.close img{
    width: 16px;
    padding: 0 24px;
}

.login_page{
    margin: 26px 24px 36px;
}

h2{
    font-size: 20px;
    margin-bottom: 24px;
}

.login_id, .login_pw{
    width: 93%;
    padding: 15px;
    font-size: 16px;
}

.login_id{
    margin-bottom: 34px;
}

.login_pw{
    margin-bottom: 14px;
}

.txt-hide {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.labl-hold {
    display: inline-block;
    height: 22px;
    margin: 17px 0 21px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #767676;
    cursor: pointer;
}

.labl-hold::before{
    display: inline-block;
    content: "";
    width: 22px;
    height: 22px;
    margin-right: 8px;
    vertical-align: -5px;
    background: url(images/css_sprites.png) -34px -35px/ 60px 30px;
}

.inp-hold:focus-visible+.labl-hold::before {
    outline: 2px solid #000;
    outline-offset: 5px;
}

.inp-hold:checked+.labl-hold::before {
    background: url(images/css_sprites.png) -64px -35px/ 60px 30px;
}

.login_btn{
    width: 100%;
    padding: 15px;
    font-size: 16px;
    color: #fff;
    margin-top: 21px;
    background: #2F80ED;
    border-radius: 5px;
}

.login_plus{
    text-align: center;
    margin: 20px auto;
}

.login_plus a{
    color: #767676;
}

.login_find::before{
    content: '|';
    margin: auto 10px;
    vertical-align: 2px;
}

.login_page_easy{
    position: relative;
}

.login_page_easy::before {
    content: "또는";
    display: block;
    width: 52px;
    height: 18px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    text-align: center;
    z-index: 10;
}

.login_page_easy::after {
    content: "";
    display: block;
    width: calc(100% - 48px);
    position: absolute;
    top: -20px;
    left: 20px;
    height: 1px;
    margin-top: -1px;
    background-color: #C4C4C4;
}

.login_page_easy{
    margin: 29px 24px 25px;
}

.login_page_easy li{
    text-align: center;
    padding: 15px;
}

.login_page_easy li:first-of-type{
    margin-top: 40px;
}

.link-sns-login {
    display: block;
    padding: 13px 14px;
    border: 1px solid #767676;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #767676;
}

[class^="icon"]::before {
    position: absolute;
    display: block;
    content: "";
    width: 22px;
    height: 22px;
    background-image: url(images/css_sprites_icon.png);
    background-size: 75px 75px;
    background-position: -10px -10px;
}

.link-sns-login.icon-facebook {
    border: 1px solid #2D9CDB;
}

.link-sns-login.icon-naver {
    border: 1px solid #00BF18;
}

.link-sns-login.icon-kakao {
    border: 1px solid #F2C94C;
}

.icon-google::before {
    /* background: url("images/css_sprites_icon.png"); */
    background-position: -45px -7px;
}

.icon-facebook::before {
    background-position: -10px -7px;
}

.icon-naver::before {
    background-position: -45px 30px;
}

.icon-kakao::before {
    background-position: -10px 30px;
}
